header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(43, 43, 43);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  z-index: 100;
}

.mobile-menu {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform .3s linear;
  height: calc(100vh - 50px);
  overflow-y: auto;
  min-width: 320px;
  width: 320px;
  background-color: rgb(43, 43, 43);
  color: white;
  &.opened {
    transform: translateX(0);
    transition: transform .3s linear;
  }
  ul {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    li {
      padding: 10px;
      cursor: pointer;
      text-align: center;
      &:hover {
        background-color: #343a40;
      }
      color: white;
    }
  }
}

i-bs[name='list'] {
  color: white;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
}
button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
  margin-right: 8px;
}
