<header>
  <div>

  </div>
  <div>
    <button (click)="setLang('fr')">
      FR
    </button>
    <button (click)="setLang('en')">
      EN
    </button>
    <button class="mobile-menu-toggle" (click)="mobileOpened = !mobileOpened">
      <i-bs name="list" *ngIf="!mobileOpened"></i-bs>
      <i-bs name="x-lg" *ngIf="mobileOpened"></i-bs>
    </button>
  </div>
</header>
<div class="mobile-menu" [class.opened]="mobileOpened">
  <ul>
    <li *ngIf="authService.isAdmin" routerLink="users/add/0" (click)="mobileOpened = false">
      {{'header.create' | translate}}
    </li>
    <li (click)="authService.logout(); mobileOpened = false">
      {{'header.logout' | translate}}
    </li>
  </ul>
</div>
<div class="header-overlay" *ngIf="mobileOpened" (click)="mobileOpened = false"></div>
