:host {
  padding: 15px;
  display: block;
  min-height: calc(100vh - 100px);
}
.search-container {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;

}
.list {
  position: absolute;
  width: 100%;
  max-height: 250px;
  overflow: auto;
  top: calc(100% + 3px);
  z-index: 2;
  background-color: #2b2b2b;
  border: 1px solid white;
  .item {
    padding: 5px;
    &:hover {
      background-color: #343a40;
      color: white;
    }
  }
}
.card {
  border: none;
  border-radius: 4px;
  .card-header {
    background-color: rgb(43, 43, 43);
    color: white;
  }
  .card-body {
    display: flex;
    background-color: rgb(43, 43, 43);
    color: white;

    .image-container {
      height: 100px;
      width: 100px;
      margin-right: 8px;
      background-color: #343a40;
      display: flex;
      align-items: center;
    }
    .username {
      display: flex;
      align-items: center;
      .online-status {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-right: 8px;
      }
    }
  }

}
