<div class="cards">
  <h5>
    {{'user_list.search' | translate}}
  </h5>
  <div>
    <div class="search-container">
      <input type="text" (keydown)="onKeyUp($event)" (keyup)="onSearch($event)" (paste)="test($event)">
      <div class="list" *ngIf="foundUsers?.length">
        <div class="item" *ngFor="let f of foundUsers" [routerLink]="authService.isAdmin ? '/users/edit/' + f.id : '/users/view/' + f.id">
          {{f.firstName}} {{f.lastName}}
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="users?.length">
    <div class="card mb-3" *ngFor="let item of users" [routerLink]="authService.isAdmin ? '/users/edit/' + item.id : '/users/view/' + item.id">
      <div class="card-body">
        <div class="image-container">
          <img *ngIf="item.photo" class="photo" [src]="item.photo" alt="">
        </div>
        <div>
          <span class="username">
            <div class="online-status" [appOnline]="item.online"></div>
            <span>{{ (item.firstName | shortFullName:item.lastName) }}</span>
          </span>
        </div>
      </div>
    </div>
  </ng-container>

</div>
