h5 {
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  label {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
}
