<div class="container-fluid">
  <div class="row">
    <form [formGroup]="form">
      <h5>{{'login.login' | translate}}</h5>
      <label>
        <span>{{'login.email' | translate}}</span>
        <input formControlName="login" type="text">
      </label>
      <span class="error" [class.visible]="!!form.get('login')?.errors && form.get('login')?.dirty">
        <app-form-error [control]="form.get('login')"></app-form-error>
      </span>
      <label>
        <span>{{'login.password' | translate}}</span>
        <input formControlName="password" type="password">
      </label>
      <span class="error" [class.visible]="!!form.get('password')?.errors && form.get('password')?.dirty">
        <app-form-error [control]="form.get('password')"></app-form-error>
      </span>
      <button (click)="login($event)" [disabled]="!form.valid">
        {{'login.confirm' | translate}}
      </button>
    </form>
  </div>
</div>
