<div class="container-fluid">
  <div class="row" [formGroup]="form">
    <div class="col-12 form">
      <h5>{{'edit.general_info' | translate }}</h5>

      <div class="full-name">
        <label class="file-upload" for="file-upload" *ngIf="authService.isAdmin">
          <span *ngIf="!form.get('photo')?.value">{{ 'edit.photo' | translate }}</span>
          <div class="image-container">
            <img class="photo" *ngIf="form.get('photo')?.value" [src]="form.get('photo')?.value" alt="">
          </div>
          <input id="file-upload" type="file" accept="image/*" (change)="uploadFile($event.target)">
        </label>
        <label class="file-upload" *ngIf="!authService.isAdmin">
          <div class="image-container">
            <img class="photo" *ngIf="form.get('photo')?.value" [src]="form.get('photo')?.value" alt="">
          </div>
        </label>
        <label>
          <span>{{'edit.last_name' | translate }}</span>
          <input formControlName="lastName" type="text">
        </label>
        <span class="error" [class.visible]="!!form.get('lastName')?.errors && form.get('lastName')?.dirty">
            <app-form-error [control]="form.get('lastName')"></app-form-error>
          </span>
        <label>
          <span>{{'edit.first_name' | translate }}</span>
          <input formControlName="firstName" type="text">
        </label>
        <span class="error" [class.visible]="!!form.get('firstName')?.errors && form.get('firstName')?.dirty">
            <app-form-error [control]="form.get('firstName')"></app-form-error>
          </span>
      </div>

      <h5>{{'edit.education' | translate }}</h5>
      <div class="display-table" formArrayName="uni">
        <div class="display-table-row table-header">
          <div class="display-table-cell">{{'edit.uni' | translate }}</div>
          <div class="display-table-cell">{{'edit.speciality' | translate }}</div>
          <div class="display-table-cell">{{'edit.uni_start' | translate }}</div>
          <div class="display-table-cell">{{'edit.uni_end' | translate }}</div>
        </div>
        <div class="display-table-row" *ngFor="let group of uniFormGroup.controls; let i = index" [formGroupName]="i">
          <div class="display-table-cell">
            <label>
              <span>{{'edit.uni' | translate }}</span>
              <input type="text" formControlName="title">
            </label>
            <span class="error" [class.visible]="!!group.get('title')?.errors && group.get('title')?.dirty">
                <app-form-error [control]="group.get('title')"></app-form-error>
              </span>
          </div>
          <div class="display-table-cell">
            <label>
              <span>{{'edit.speciality' | translate }}</span>
              <input type="text" formControlName="speciality">
            </label>
            <span class="error" [class.visible]="!!group.get('speciality')?.errors && group.get('speciality')?.dirty">
                <app-form-error [control]="group.get('speciality')"></app-form-error>
              </span>
          </div>
          <div class="display-table-cell">
            <label>
              <span>{{'edit.uni_start' | translate }}</span>
              <input type="text" formControlName="start">
            </label>
            <span class="error" [class.visible]="!!group.get('start')?.errors && group.get('start')?.dirty">
                <app-form-error [control]="group.get('start')"></app-form-error>
              </span>
          </div>
          <div class="display-table-cell">
            <label>
              <span>{{'edit.uni_end' | translate }}</span>
              <input type="text" formControlName="end">
            </label>
            <span class="error" [class.visible]="(!!group.get('end')?.errors && group.get('end')?.dirty) || !!group.errors">
                <app-form-error [control]="group.get('end')"></app-form-error>
                <span class="message" *ngIf="group?.hasError('uniPeriod') && !group.get('end')?.errors">
                  {{'form_errors.uniPeriod' | translate }}
                </span>
              </span>
          </div>
          <div class="display-table-cell">
            <button class="btn btn-outline-dark btn-sm"
                    (click)="removeUni(i)"
                    *ngIf="!isView">
              <i-bs name="trash"></i-bs>
            </button>
          </div>
        </div>
      </div>


      <div class="add-uni">
        <button class="btn btn-outline-dark btn-sm" (click)="addNewUni()" *ngIf="!isView">
          <i-bs name="plus-circle"></i-bs>
          {{'edit.add_uni' | translate }}
        </button>
      </div>
      <div class="nav-btn">
        <button class="btn btn-outline-dark btn-sm" (click)="submit()" *ngIf="!isView" [disabled]="!form.valid">
          <i-bs name="download"></i-bs>
          {{'edit.save_user' | translate }}
        </button>
        <button class="btn btn-outline-dark btn-sm" *ngIf="action === 'edit'" (click)="openModal(template)">
          <i-bs name="trash"></i-bs>
          {{'edit.delete' | translate }}
        </button>
        <button class="btn btn-outline-dark btn-sm" routerLink="/">
          <i-bs name="arrow-left-circle"></i-bs>
          {{'edit.back' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>{{'edit.want_delete' | translate }}</p>
    <button type="button" class="btn btn-default" (click)="delete(); modalRef?.hide()" >{{ 'yes' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">{{'no' | translate}}</button>
  </div>
</ng-template>
