:host {
  display: block;
  padding: 15px;
  min-height: calc(100vh - 100px);
}

.file-upload {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2b2b2b;
  padding: 5px;
  input {
    display: none;
  }
  .photo {
    max-width: 100%;
  }
}

.display-table-cell {
  width: 20%;
}

label {
  display: flex;
  span {
    margin-right: 15px;
    min-width: 80px;
  }
  input:disabled {
    background-color: transparent;
    color: white;
  }
}

.full-name {
  margin-bottom: 40px;
}

.add-uni {
  margin: 15px 0 15px 0;
}

.nav-btn button:first-child {
  margin-right: 15px;
}

i-bs[name='trash'] {
  color: #ea3232;
}

i-bs[name='plus-circle'] {
  color: #1186DD;
}
i-bs[name='download'] {
  color: #619C28;
}
i-bs[name='arrow-left-circle'] {
  color: #999999;
}



/* media */

@media all and (max-width: 900px) {
  .display-table, .display-table-cell, .display-table-row {
    display: block;
  }
  .table-header {
    display: none;
    label span {
      display: block;
    }
  }
  .display-table-cell {
    width: auto;
    label {
      justify-content: center;
    }
    label span {
      display: block;
    }
    button {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  .full-name label {
    justify-content: center;
  }
  :host > .container-fluid > .row > .col-12 {
    text-align: center;
  }
  .add-uni .btn {
    width: 100%;
  }
  .nav-btn {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn .btn {
    width: 48%;
    margin-right: 0;
    &:first-child {
      margin-right: 0;
    }
  }
  .file-upload {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
