<ng-container *ngIf="control">
  <ng-container *ngFor="let e of control | errorMessage">
    <span class="message" *ngIf="control.hasError(e)">
      {{ 'form_errors.' + e | translate }}
    </span>
  </ng-container>
</ng-container>
