/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

// regular style toast
@import '~ngx-toastr/toastr';

body, html {
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background-color: rgb(59, 71, 84);
  color: white;
  *:not(svg):not(path) {
    color: white;
  }
}
input {
  background-color: #2b2b2b;
  color: white;
  border-radius: 4px;
}
button {
  color: white;
  background-color: rgb(43, 43, 43);
}
button.btn.btn-outline-dark.btn-sm,
button.btn {
  color: white;
  background-color: rgb(43, 43, 43);
  &:hover {
    color: white;
    background-color: #343a40;
  }
}

input.ng-invalid.ng-touched {
  outline: 1px solid #E50000;
}
body {
  padding-top: 50px;
}

form .error,
.form .error {
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  display: flex;
  width: 100%;
  max-width: 300px;
  visibility: hidden;
  justify-content: flex-end;
  margin-bottom: 10px;
  color: #ea3232;
  .message:not(:first-of-type) {
    color: #ea3232;
    display: none;
  }
  .message {
    color: #ea3232;
  }
}

.image-container {
  img {
    max-width: 100%;
  }
}

.display-table {
  display: table;
  input {
    margin-right: 10px;
  }
  input:disabled {
    background-color: transparent;
    color: white;
  }
}
.display-table-row {
  display: table-row;
}
.display-table-cell {
  display: table-cell;
  label span {
    display: none;
  }
}
.modal-content {
  background-color: rgb(43, 43, 43);
  color: white;
}
